/* universal code disi cause by default browser margin,padding use kore,tai sobar tekhe eta soranor jonno */
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    /*  box-sizing: border-box;
        maje maje padding box er bahire cole jay, eta dile always padding box er majei thakbe */
}

/* shared style */

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 }

.logo h2{
    font-size: 45px;
    font-weight: 900px;
     width: 121px;
     height: 61px;

     
}
.color-orange{
    color: #FD6E0A;

}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18.28px 35px 19.3px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
     
}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}
.text-center{
    text-align: center ;
}

 /* main style */
header{
    background-color:#FFF8F3;
    background: url(../images/developer.png) ,url(../images/header_bg.png),#FFF8F3;
    /* header er agr dot nai cause eta class na */
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px; 

}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: solid red; */
   margin: 47px 38px 0px 230px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#banner .banner-content {
    max-width: 585px;
}
#banner .banner-content h2 {
    /* banner er vitor j banner content ache,er vitor j h2 ache tare doro */
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
#banner .banner-content p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px ;
}
#banner .banner-image image{
    max-width: 585px;
    vertical-align: middle;
    /* vertical-align: middle; img er niche by-defaultkiso gap thake, tai eta fixed korar jonno ei tag */
}
#about{
    padding-top: 131px;
}
 #about .about-container {
    width: 71%;
    max-width:1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px 131px 156px;
 }
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
     font-size: 20px;
    line-height: 30px;
    color: #757575;
    
}
.about-info .info-card h4{
     font-size: 20px;
}
#skills{
    padding: 130px;
}
#skills .skill-container{
width: 71%;
max-width: 1140px;
margin: 0 auto;
}
#skills .skill-container .skill-box{
 display: flex;
 gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid;  */
    box-shadow: 0 6px 50px 0 #00000031 ;
    max-width: 267px;
    height: 377px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    line-height: 18px;
    color: #757575;
   
}
#resume{
    padding-top: 130px;
}
#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}
.resume-container hr{
    max-width: 558px;
    margin: 30px 0px;
    color: #D1D1D1;
}
.resume-container .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-title {
    font-size: 25px;
    color: #474747; 
    margin-bottom: 10px;
     
}
.resume-card .card-info {
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;  
     
}
.resume-card .card-text {
    font-size: 16px;
    /* margin-bottom: 30px;  */
    line-height: 28px;
    color: #757575; 
}


footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0px;
}

footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;

}

.footer-container h2{
     font-size: 35px;
     font-weight: bold;
     color: #181818 ;
     margin-bottom: 20px;

}
.footer-container .socal {
    max-width: 562px;
}
.footer-container .socal p{
     max-width: 562px;
     font-size: 16px;
     line-height: 28px;
     color: #474747 ;
     margin-bottom: 30px;

}

.footer-container .icons a{
    margin-right: 24px;
}

.footer-container .form input[type=text],[type=email],textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
}
